.grobal{
    width: 100%;
    min-height: calc(100vh - 5rem);
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    &--header{
        width: 100%;
        min-height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background:linear-gradient(to right top , rgba(138, 115, 40, 0.7), rgba(0,0,0,0.8));
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.5);
        margin-top: 1rem;
        h2{
            font-size: 3rem;
            color: white;
            font-weight: bold;
        }
    
    }

    &--data{
        margin: 2rem auto;
        box-sizing: border-box;
        width: 100%;
        background:linear-gradient(to right top , rgba(138, 115, 40, 0.7), rgba(0,0,0,0.8));
        padding: 4rem ;
        border-radius: 10px;
        &--item{
            display: flex;
            width: 100%;
            margin-top: 2rem ;
            box-sizing: border-box;
            width: inherit;
            max-height: 16rem;
            background:linear-gradient(to right top , rgba(189, 164, 84, 0.7), rgba(202, 144, 8, 0.8));
            border-radius: 10px;
            align-items: center;
            a{
                img{
                    width: 15vw;
                    height: 15vh;
                    margin: 1rem 5rem 1rem 1rem;
                }
            }

            .wrapper{
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: center;
                align-items: center;
                h2{
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                    a{
                        font-size: 3rem;
                        font-weight: bold;
                        color: white;
                        text-decoration: none;
                    }
                }
                p{
                    font-size: 1.5rem;
                    font-weight: normal;
                    color: white;
                }
            }
            .btnWrapper{
                display: flex;
                flex-direction: column;
                margin-left: 10rem;
                button{
                    background-color: rgb(214, 221, 199);
                    margin: 2rem;
                    a{
                        text-decoration: none;
                        font-size: 2rem;
                        color: rgb(202, 93, 93);
                        padding: 2rem;
                    }
                }
            }

        }
        .w-5{
            display: inline;
            width: 3rem;
            height: 3rem;
        }
        span{
            width: 80%;
            font-size: 1.3rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            nav{
                div:first-child{
                    display: none;
                }
            }
        }

        h2{
            font-size: 5rem;
            color: white;
            padding: 5rem;
            text-align: center;
        }

    }


}
