*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 70vw;
  min-height: calc(100vh - 5rem);
  box-sizing: border-box;
  margin: 0 auto;
}

.card {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right top, rgba(0, 102, 102, 0.2), rgba(0, 14, 14, 0.2));
  justify-content: center;
  box-sizing: border-box;
}
.card--main {
  max-width: 40vw;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 5vw 0;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.card--main h3 {
  font-size: 3rem;
  color: gold;
  margin-top: 5vh;
}
.card--main form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
.card--main form label {
  font-size: 2rem;
  font-weight: 400;
  color: gold;
  margin: 2rem 0;
}
.card--main form input {
  height: 5vh;
}
.card--main form input::-moz-placeholder {
  font-size: 1.5rem;
  text-align: center;
  color: gray;
}
.card--main form input:-ms-input-placeholder {
  font-size: 1.5rem;
  text-align: center;
  color: gray;
}
.card--main form input::placeholder {
  font-size: 1.5rem;
  text-align: center;
  color: gray;
}
.card--main form #file_input {
  margin-top: 3rem;
}
.card--main form span {
  margin: 2rem auto;
}
.card--main form span a {
  color: gray;
  font-size: 2rem;
}
.card--main form button {
  color: white;
  font-size: 2rem;
  width: 20vw;
  margin: 3rem auto;
  padding: 1rem;
  background-color: rgba(85, 64, 11, 0.555);
  box-sizing: border-box;
}
.card--main form button:hover {
  background-color: rgba(46, 34, 2, 0.411);
}
.card--main a {
  text-decoration: none;
  font-size: 2rem;
  color: goldenrod;
  margin-top: 2rem;
}

.nav {
  height: 5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right top, rgba(138, 115, 40, 0.7), rgba(0, 0, 0, 0.8));
  position: relative;
  text-decoration: none;
}
.nav ul {
  display: flex;
  list-style: none;
  font-size: 2rem;
  flex-direction: row;
  float: right;
  margin-right: 5rem;
}
.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul li a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}
.nav ul li a:hover {
  color: black;
}

.grobal {
  width: 100%;
  min-height: calc(100vh - 5rem);
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.grobal--header {
  width: 100%;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, rgba(138, 115, 40, 0.7), rgba(0, 0, 0, 0.8));
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}
.grobal--header h2 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
.grobal--data {
  margin: 2rem auto;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to right top, rgba(138, 115, 40, 0.7), rgba(0, 0, 0, 0.8));
  padding: 4rem;
  border-radius: 10px;
}
.grobal--data--item {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  box-sizing: border-box;
  width: inherit;
  max-height: 16rem;
  background: linear-gradient(to right top, rgba(189, 164, 84, 0.7), rgba(202, 144, 8, 0.8));
  border-radius: 10px;
  align-items: center;
}
.grobal--data--item a img {
  width: 15vw;
  height: 15vh;
  margin: 1rem 5rem 1rem 1rem;
}
.grobal--data--item .wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.grobal--data--item .wrapper h2 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.grobal--data--item .wrapper h2 a {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.grobal--data--item .wrapper p {
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
}
.grobal--data--item .btnWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}
.grobal--data--item .btnWrapper button {
  background-color: #d6ddc7;
  margin: 2rem;
}
.grobal--data--item .btnWrapper button a {
  text-decoration: none;
  font-size: 2rem;
  color: #ca5d5d;
  padding: 2rem;
}
.grobal--data .w-5 {
  display: inline;
  width: 3rem;
  height: 3rem;
}
.grobal--data span {
  width: 80%;
  font-size: 1.3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grobal--data span nav div:first-child {
  display: none;
}
.grobal--data h2 {
  font-size: 5rem;
  color: white;
  padding: 5rem;
  text-align: center;
}

.data--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data--container img {
  width: 40vw;
}
.data--container h3 {
  font-size: 3rem;
  margin: 1rem;
}
.data--container span {
  font-size: 1.3rem;
}
.data--container p {
  font-size: 1.5rem;
  width: 40vw;
}
.data--container a {
  text-decoration: none;
  font-size: 2rem;
  margin: 1rem;
}
.data--container a:hover {
  color: black;
}
.data--container button {
  margin: 1rem;
}
